
@{
    ViewBag.Title = "Index";
}
<h1> Assignment 1 </h1>
<div>
    <p>
        Name = @Model.name<br />
        Student# = @Model.studentNo<br />
        Program of study = @Model.program <br />
    </p>
</div>

